<h1> Find your friends in: <%= libName %> </h1>

<% for(var i = 0; i < 3; i++){ %>
	<li> <%= libName %> </li>
<% } %>

<!-- <%= %> takes return value and put it in html

<% %> pure logic, no display -->

