<<<<<<< HEAD:app.css
body {
    background: url("map.png");
    background-size: cover;
    background-position: center; 
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
}

h1 {
	font-weight: 700;
	font-size: 6em;
    color: #ff6347;
}

.content{
	padding-top: 25%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}


hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.searchbar {
    position: absolute;
    top: 25%;
    left: 65%;
}

.content1 {
    width: 100;
    height: 10%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: darkgrey;
}


.frdlist {
    background-color: white;
    color: black;
    width: 100px;
    height: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

//your friends

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* for inmap */
.searchbar1 {
    position: absolute;
    top: 25%;
    right: 10%;
}
=======
body {
    background: url("map.png");
    background-size: cover;
    background-position: center; 
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: black;
}

h1 {
	font-weight: 700;
	font-size: 6em;
    color: #ff6347;
}


.content{
	padding-top: 25%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}


hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


.searchbar {
    position: absolute;
    top: 25%;
    left: 65%;
}

.content1 {
    width: 100;
    height: 10%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: darkgrey;
}


>>>>>>> 85900bfb43535e9546f2ff5e1f6fa8e6ce056294:public/app.css
